name = "fsml"
version = "0.1.0"
license = "MIT license"
author = "Sebastian G. Mutz"
maintainer = "sebastian@mutz.science"
copyright = "Copyright 2025, Sebastian G. Mutz"
description = "Fortran Statistics and Machine Learning Library"

[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false

[install]
library = true

[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

[library]
source-dir = "src"

[executable]
name = "test"
source-dir = "app"
main = "main.f90"

[dependencies]
stdlib = "*"
